<footer class="bg-dark pt-5 mb-0">
    <div class="container">
        <h3 class="text-center mb-3">Start Investing on BITLY INVESTMENT today</h2>
        <div class="text-center mb-3">
            <a href="" class="btn btn-secondary">Get Started</a>
        </div>
    </div>
    <div class="foot-nav mt-5">
        <div class="container grid grid-3">
            <div class="foot-info">
            <h6>ABOUT US</h6>
            <li><a href="">Certificate of Incorportation</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Roadmap</a></li>
            </div>
            <div class="foot-info">
                <h6>OTHER INFORMATION</h6>
                <li><a href="">Investment Plans</a></li>
                <li><a href="">FAQS</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about">About</a></li>
            </div>
            <div class="foot-info">
                <h6 class="">JOIN US</h6>
                <li><a href="/users/login">Login</a></li>
            </div>
        </div>
    </div>
    <div class="foot-main bg-secondary">
        <div class="container">
            <p class="p-2 text-center mb-0 mt-3">&copy; 2021 BITLY INVESTMENT GROUP INC.</p>
        </div>
    </div>
</footer>