<header id="head">
  <div class="container flex">
    <div class="logo">
      <a href="/"><img src="/img/logo.png" alt="" /></a>
    </div>
    <nav class="flex">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
      <ul class="sec-nav ml-5">
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/register">Register</a></li>
      </ul>
    </nav>
    <div class="menu">
      <img src="/img/menu.png" alt="Menu Button" class="open">
    </div>
  </div>
</header>

<script src="/js/header.js"></script>