<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<header id="head">
  <div class="container flex">
    <div class="logo">
      <a href="/"><img src="/img/logo.png" alt="" /></a>
    </div>
    <nav class="flex">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
      {{!-- {{#if user}}
        <ul class="sec-nav ml-5">
            <li><a href="#"><i class="fas fa-user"></i> | {{ name}} </a></li>
            <li><a href="/users/logout">Logout</a></li>
        </ul>
      {{/if}}
      {{#else}}
        <ul class="sec-nav ml-5">
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
        </ul>
      {{/else}} --}}
    </nav>
  </div>
</header>

<section class="about-header bg-secondary">
  <div class="container">
    <div class="about-text p-4">
      <h3 class="m-4 lg text-center">About Us</h3>
    </div>
  </div>
</section>

<section class="about-landing bg-white p-3">
  <div class="container">
    <div class="about-logo">
      <img src="/img/about.svg" alt="" />
    </div>
  </div>
</section>

<section class="about-main">
  <div class="container">
    <p class="p-4">

      Our company begins its history from July 2017, when it was developed and
      registered by our founder - Justin Hance and his team. Our company has
      come a long way from a simple exchange platform to a complex mechanism,
      which works smoothly. We have changed the perception of many people about
      cryptocurrency and its use. We introduced lots of interesting and useful
      technologies, which are helping us to protect your funds, and helping you
      to invest your funds with maximum benefit. World's first we created
      system, which helps you to buy, sell, transfer your funds inside our
      exchange in few seconds, you don't need to wait blockchain confirmation
      any more. In our Exchange your funds This one, and lots of another
      features makes trading in Exchange very comfortable, useful and
      profitable. After making a deposit, your funds constantly are stored on
      the permanent wallet, no matter what manipulations you do with them. They
      are assigned to you in the internal system of our site, so you shouldn't
      pay a commission on the blockchain network during transfer, trading and
      other transactions. We are interested in cryptocurrencies and we believe
      they will change the world and become the main currency in the future. We
      believe that cryptocurrencies will continue to grow and develop
      tirelessly, so we offer to invest in them right now, because even a very
      small investment changes the world.
      <br />
      <br />
      No need to spend money and time on studying market trends and the
      volatility of cryptocurrency pairs, no need to attract expensive
      professional experts in the area of currency trading and making futures
      contracts. All preparations preceding the conclusion of trading
      transactions will be conducted by our specialists.
      <br />
      <br />
      This is the feature of doing business with us that is basically one of the
      most important factors for those who are looking for a simple and reliable
      way of receiving a long-term passive risk-free income. The decline in
      quotations of one digital currency inevitably leads to a rapid growth in
      the cost of another, and due to the timely adjustment of the trading
      strategy based on a deep analysis of the market; our traders do not miss a
      single chance to extract income.
      <br />
      <br />
      If you are interested in additional sources of income,
      whales-investment.com is also perfect for you. Our affiliate solutions can
      provide a significant additional active income that is not limited by any
      conditions. You will simply need to have the entrepreneurial spirit and be
      ready to work with new people when explaining the basics of the
      functioning of our company and working in team to them
    </p>
  </div>
</section>

<section class="road-map bg-white">
  <div class="container">
    <h6 class="p-3 sm text-dark">
      Road Map
    </h6>
    {{! <div class="flex mt-4">
        <div class="map-items"></div>
        <div class="map-line">
            <div class="line">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
        <div class="map-items"></div>
    </div> }}
    <div class="map flex">
      <div class="map-items">

      </div>
      <div class="map-line">
        <div class="line">
          <div class="circle"></div>
        </div>
      </div>
      <div class="map-date">

      </div>
    </div>
  </div>
</section>