<head>
    <title>Home | Bitly Investment</title>
</head>
{{> _header}}

<section class="landing pt-5">
    <div class="container flex">
        <div class="text mr-2">
            <h1 class="mb-3 lg">BITLY INVESTMENT</h1>
            <h3 class="mb-3 lg">STABLE HIGH PROFIT</h3>
            <p class="lead">We are aimed at getting the leading position in cryptocurrency investment market. Our experts monitor online each stock exchange daily and due to favourable exchange rate we maximize our investors’ profit. Join us!</p>
            <div>
                <a href="/users/register" class="btn btn-secondary btn-lg btn-block">Get Started</a>
            </div>
        </div>
        <div class="image">
            <img src="/img/banner-img.svg" alt="banner-image">
        </div>
    </div>
</section>

<section class="services">
    <div class="container grid grid-3 grid-2">
        <div class="cards flex">
            <div class="imgs mr-3">
                <img src="/img/income.svg" alt="">
            </div>
            <div class="service-text">
                <h4 class="mb-3">Steady Income</h4>
                <p class="mb-0">The computer-based analytical system recognizes every fluctuations in cryptocurrency and makes successful predictions for the nearest future.</p>
            </div>
        </div>
        <div class="cards flex">
            <div class="imgs mr-3">
                <img src="/img/company.svg" alt="">
            </div>
            <div class="service-text">
                <h4 class="mb-3">Registered Company</h4>
                <p class="mb-0">Bitly Investment is legally Registered And Regulated in Australia.</p>
            </div>
        </div>
        <div class="cards flex">
            <div class="imgs mr-3">
                <img src="/img/secure.svg" alt="">
            </div>
            <div class="service-text">
                <h4 class="mb-3">Secure and Trusted</h4>
                <p class="mb-0">Your funds are protected by industry-leading security protocols.</p>
            </div>
        </div>
        <div class="cards flex">
            <div class="imgs mr-3">
                <img src="/img/reliable.svg" alt="">
            </div>
            <div class="service-text">
                <h4 class="mb-3">Reliable</h4>
                <p class="mb-0">Our expertise helps us to develop a number of investment programs that have already been used for several years.</p>
            </div>
        </div>
        <div class="cards flex">
            <div class="imgs mr-3">
                <img src="/img/person.svg" alt="">
            </div>
            <div class="service-text">
                <h4 class="mb-3">Experts Support</h4>
                <p class="mb-0">We answer to the requests of every client. Our support service works in the 24/7 mode. The FAQ section is constantly updated.</p>
            </div>
        </div>
    </div>
</section>

{{> _footer}}

